
<footer class="footer"> 
  <div class="container"> 
    <div class="footer-top"> 
      <div class="footer-top__wrap"> 
        <div class="footer-top__wedge wedge-1"> 
          <div class="logo"> <a href="#"><img src="assets/images/logo.png" alt=""/></a></div>
          <p class="text-infor">
             We are a team of designers and developers that create high quality HTML template </p>
          <div class="need-help">
            <p class="address"> <span>Address:</span><span> 4710-4890 Breckinridge St, Fayetteville</span></p>
            <p class="mail"> <span>Email:</span><a href="#"> support@hasthemes.com</a></p>
            <p class="phone"> <span>Call Us:</span><a href="#"> (+800)123456789</a></p>
          </div>
        </div>
        <div class="footer-top__wedge wedge-2">
          <h4 class="footer-top__herading">
             Information</h4>
          <div class="footer-top__links"> 
            <ul> 
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-top__wedge wedge-3">
          <h4 class="footer-top__herading">
             Information</h4>
          <div class="footer-top__links"> 
            <ul> 
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
              <li> <a href="#">Delivery</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-top__wedge wedge-4">
          <h4 class="footer-top__herading">
             Information</h4><span class="slick-arrow prev footer-top-button-prev"><i class="fa-solid fa-angle-left"></i></span>
          <div class="swiper mySwiper-footer-top">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
                <div class="footer-top__item"> 
                  <div class="img"> 
                    <div class="thumbnail"><a href="#"> <img src="assets/images/blog-8.jpg" alt=""/></a></div>
                  </div>
                  <div class="desc"> 
                    <h4> <a href="#">This Is First Post For XipBlog</a></h4><span>
                       Posted by <a href="#">Demo Hasthemes</a></span><span>jun 29, 2020 </span>
                  </div>
                </div>
              </div>
            </div>
          </div><span class="slick-arrow next footer-top-button-next"><i class="fa-solid fa-angle-right"></i></span>
        </div>
      </div>
    </div>
    <div class="footer-center"> 
      <div class="footer-center__wrap"> 
        <div class="footer-center__payment"> 
          <div class="title">
             Payment:       </div>
          <div class="img"> <img src="assets/images/payment.png" alt=""/></div>
        </div>
        <div class="footer-center__follow"> 
          <div class="title">
             Follow Us: </div>
          <div class="social-icon"> 
            <ul> 
              <li class="facebook"> <a href="#"> <i class="fa-brands fa-facebook-f"></i></a></li>
              <li class="twitter"> <a href="#"> <i class="fa-brands fa-twitter"></i></a></li>
              <li class="google"> <a href="#"> <i class="fa-brands fa-google"></i></a></li>
              <li class="youtube"> <a href="#"> <i class="fa-brands fa-youtube"></i></a></li>
              <li class="instagram"> <a href="#"> <i class="fa-brands fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-tags"> 
      <div class="container"> 
        <div class="tags-content"> 
          <ul> 
            <li> <a href="#">Online Shopping                      </a></li>
            <li> <a href="#">Promotions                     </a></li>
            <li> <a href="#">My Orders                   </a></li>
            <li> <a href="#">Help                     </a></li>
            <li> <a href="#">Customer  Service                    </a></li>
            <li> <a href="#">Support                   </a></li>
            <li> <a href="#">Most Populars                      </a></li>
            <li> <a href="#">New Arrivals                      </a></li>
            <li> <a href="#">Online Shopping                      </a></li>
            <li> <a href="#">Promotions                     </a></li>
            <li> <a href="#">My Orders                   </a></li>
            <li> <a href="#">Help                     </a></li>
            <li> <a href="#">Customer  Service                    </a></li>
            <li> <a href="#">Support                   </a></li>
            <li> <a href="#">Most Populars                      </a></li>
            <li> <a href="#">New Arrivals                      </a></li>
            <li> <a href="#">Special Products                    </a></li>
            <li> <a href="#">Terms & Conditions                      </a></li>
          </ul>
        </div>
        <p>
           Copyright © <a href="#">HasThemes </a>All Rights Reserved            </p>
      </div>
    </div>
  </div>
</footer>