
<header class="header-wrapper">
  <div class="header-top">
    <div class="container">
      <div class="header-top__wrap">
        <div class="header-top__logo"><a href="#"><img src="assets/images/logo.png" alt=""/></a></div>
        <div class="header-top__right">
          <div class="header-top__right-search">
            <div class="header-top__search">
              <form action="#"><i class="fa-solid fa-angle-down"></i>
                <div class="header-top__category">
                  <select>
                    <option value="1">Tất cả danh mục</option>
                  </select>
                </div>
                <input type="text" placeholder="Nhập từ khóa tìm kiếm..."/>
                <button type="submit">Tìm kiếm</button>
              </form>
            </div>
          </div>
          <div class="header-top__tools"> <a class="offcanvas-toggle offcanvas-wishlist" href="#"><i class="fa-regular fa-heart"></i><span class="title">Wishlist</span></a><a class="offcanvas-toggle offcanvas-cart" href="#"><i class="fa-solid fa-cart-shopping"></i><span class="title">Cart</span></a>
            <div class="offcanvas-toggle offcanvas-menu"><i class="fa-solid fa-bars"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__search-mobile">
    <div class="container">
      <div class="header-top__search">
        <form action="#"><i class="fa-solid fa-angle-down"></i>
          <div class="header-top__category">
            <select>
              <option value="1">Tất cả danh mục</option>
            </select>
          </div>
          <input type="text" placeholder="Nhập từ khóa tìm kiếm..."/>
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <div class="container">
      <div class="header-menu__wrap">
        <div class="header-menu__left">
          <h4 class="header-menu__title"><i class="fa-solid fa-bars"></i>Browse Categories<i class="fa-solid fa-angle-down"></i></h4>
          <ul class="display-none"> 
            <li> <a href="#">Television</a></li>
            <li> <a href="#">Digital Cameras</a></li>
          </ul>
        </div>
        <div class="header-menu__right">
          <nav> 
            <ul> 
              <li>
                 Home <i class="fa-solid fa-angle-down"></i></li>
              <li>
                 shop <i class="fa-solid fa-angle-down"></i></li>
              <li>
                 Pages <i class="fa-solid fa-angle-down"></i></li>
              <li>
                 Blog <i class="fa-solid fa-angle-down"></i></li>
              <li>
                 Custom Menu <i class="fa-solid fa-angle-down"></i></li>
              <li>
                 Contact Us </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>