footer.footer 
    div.container 
        //- footer top
        div.footer-top 
            div.footer-top__wrap 
                div.footer-top__wedge.wedge-1 
                    div.logo 
                        a(href="#")
                            img(src="assets/images/logo.png", alt="")
                    p.text-infor 
                       |We are a team of designers and developers that create high quality HTML template 
                    div.need-help
                        p.address 
                            span Address:
                            span  4710-4890 Breckinridge St, Fayetteville
                        p.mail 
                            span Email:
                            a(href="#")  support@hasthemes.com
                        p.phone 
                            span Call Us:
                            a(href="#")  (+800)123456789
                div.footer-top__wedge.wedge-2
                    h4.footer-top__herading 
                        |Information
                    div.footer-top__links 
                        ul 
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                div.footer-top__wedge.wedge-3
                    h4.footer-top__herading 
                        |Information
                    div.footer-top__links 
                        ul 
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                            li 
                                a(href="#") Delivery
                div.footer-top__wedge.wedge-4
                    h4.footer-top__herading 
                        |Information
                    span.slick-arrow.prev.footer-top-button-prev
                        i(class="fa-solid fa-angle-left")
                    div.swiper.mySwiper-footer-top
                        div.swiper-wrapper
                            div.swiper-slide
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                            div.swiper-slide
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                            div.swiper-slide
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                                    div.footer-top__item 
                                        div.img 
                                            div.thumbnail
                                                a(href="#") 
                                                    img(src="assets/images/blog-8.jpg", alt="") 
                                        div.desc 
                                            h4 
                                                a(href="#") This Is First Post For XipBlog
                                            span 
                                                |Posted by 
                                                a(href="#") Demo Hasthemes
                                            span jun 29, 2020 
                    span.slick-arrow.next.footer-top-button-next
                        i(class="fa-solid fa-angle-right")
        //- End footer top  

        //- footer center  
        div.footer-center 
            div.footer-center__wrap 
                div.footer-center__payment 
                    div.title 
                        |Payment:       
                    div.img 
                        img(src="assets/images/payment.png", alt="")   
                div.footer-center__follow 
                    div.title 
                        | Follow Us: 
                    div.social-icon 
                        ul 
                            li.facebook 
                                a(href="#") 
                                    i(class="fa-brands fa-facebook-f")
                            li.twitter 
                                a(href="#") 
                                    i(class="fa-brands fa-twitter")
                            li.google 
                                a(href="#") 
                                    i(class="fa-brands fa-google")
                            li.youtube 
                                a(href="#") 
                                    i(class="fa-brands fa-youtube")
                            li.instagram 
                                a(href="#") 
                                    i(class="fa-brands fa-instagram")
        //- End footer center 

        //- footer tags  
        div.footer-tags 
            div.container 
                div.tags-content 
                    ul 
                        li 
                            a(href="#") Online Shopping                      
                        li 
                            a(href="#") Promotions                     
                        li 
                            a(href="#") My Orders                   
                        li 
                            a(href="#") Help                     
                        li 
                            a(href="#") Customer  Service                    
                        li 
                            a(href="#") Support                   
                        li 
                            a(href="#") Most Populars                      
                        li 
                            a(href="#") New Arrivals                      
                        li 
                            a(href="#") Online Shopping                      
                        li 
                            a(href="#") Promotions                     
                        li 
                            a(href="#") My Orders                   
                        li 
                            a(href="#") Help                     
                        li 
                            a(href="#") Customer  Service                    
                        li 
                            a(href="#") Support                   
                        li 
                            a(href="#") Most Populars                      
                        li 
                            a(href="#") New Arrivals                      
                        li 
                            a(href="#") Special Products                    
                        li 
                            a(href="#") Terms & Conditions                      
                             
                p  
                    |Copyright © 
                    a(href="#") HasThemes 
                    |All Rights Reserved            
        //- End footer tags                        
