mixin static-area-item(img, title, desc)
    div.static-area__item
        div.static-area__img
            img(src=img)
        div.static-area__content 
            h4 #{title}
            p #{desc}